div.footer 
	div(class="footerlogo")

	div(class="socialmedia")
		p Terms
		
style(type="text/css").
	.footer{
		display: block;
	
		height: 30px;
		width: 100%;
	
		color: #f2f2f2;
		background-color: #333
	}
