html
	head
		include navBar.pug
		title Home #{title}
		script(src="https://code.jquery.com/jquery-3.2.1.min.js"
				integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
				crossorigin="anonymous")

	body
		div(class=signupDiv)
			input(type="button", class="signupButton", value="Sign Up")

	script.
			$(document).ready(function() {
				$(".signupButton").click(function(){
					window.location.assign("/signup")
				})
			})