html
	head
		title Home
		script(src="https://code.jquery.com/jquery-3.2.1.js"
			integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
			crossorigin="anonymous"
			)
		link(rel='stylesheet', type='text/css', href='css/style.css')
		link(href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
	body
		div(class="site-container1")
		
			
			div(class="site-pusher1")
				include nav.pug

				div(class="container")

					div(class="filling")

					div(class="frontText")

						h1 “Sometimes you just need a fluffy
						h1 friend that you can 
						h1 meet with from time to time”

					div(class="gallerycontainer1")
							div(class='gallery1Image')
								img(src="images/001home-doglover.png")
								p Doglover
								
							div(class='gallery1Image')
								img(src="images/heart.png")

							div(class='gallery1Image')
								img(src="images/002home-dog.png")
								p Lonely Dog
					div(class='signup')
						input(class= "button" id="signupButton" type="button" value="SIGN-UP !")
					div(class="filling1")


					div(class="gallerycontainer2")
						div(class='subText')
							h2 Benefits

						div(class="gallery2Image")
							img(src="images/003home-local.png")
							h2 Local
							p(class="line1")
							p You can find your dog friend in your own neighborhood.

						div(class="gallery2Image")
							img(src="images/004home-cosy.png")
							h2 cosy
							p(class="line1")
							p Sometimes you just want to have a reason to go out for a walk in the park.
						div(class="gallery2Image")
							img(src="images/005home-convenient.png")
							h2 convenient
							p(class="line1")
							p You can choose when you are available and enjoy your part time friend. 

					div(id="wbackground" class="gallerycontainer2")
						div(class='subText')
							h2 THEY JOINED ALREADY

						div(class="gallery2Image")
							img(src="images/006home-charmer.jpg")
							h2 Charmer & John
							p(class="line2")
							p "Since I met Charmer, I am happy everyday"

						div(class="gallery2Image")
							img(src="images/007home-anita.jpg")
							h2 Bello & Anita
							p(class="line2")
							p "My Friday with Bello is the most fun day of the week!"
	
				include footer.pug



	script.
			$(document).ready(function() {
				$("#signupButton").click(function(){
					window.location.assign("/signup")
				})
			})