
html
	head
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

		title Log In
		script(src="https://code.jquery.com/jquery-3.2.1.js"
			integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
			crossorigin="anonymous"
			)
	
		link(rel='stylesheet', type='text/css', href='css/login.css')
		link(href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

	body
		div(class="site-container1")
			div(class="site-pusher1")
				include nav.pug
				div(class="container")
					div(class="filling")

					div(class="logincontainer")
						div(class="leftImg")
							div(class="img1")
								img(src="images/008login_img.png")
						div(class="loginForm")
							form(class="loginClass",action="/login", METHOD="POST")
								h1(class="frontText") Log In!
								div(class="formElement")
									p E-mail:
									input(class="textField", id="email", type="email", name="email", placeholder="email" required)
								div(class="formElement")
									p Password:
									input(class="textField", id="password" type="password", name="password", password="password", placeholder="password" required)
									h4(id="text" style="color: red")
								input(class="submitButton", id="button" type="submit", name="submit", value="Login")
								p(id="fpassword") forgot password?
						

		script.
			$(document).ready(function(){
				$(".loginClass").submit(function(event) {
					event.preventDefault()
					$("#text").text('');
					let email = $('#email').val()
					let password = $('#password').val()	
					$.post("/login", {email: email, password: password, ajax: true, passval: true}, (result) => {
						if(result.ajax == false) {
						event.preventDefault()
						$("#text").text('invalid login details')
						}
						else if(result.passval == false) {
						event.preventDefault()
						$("#text").text('invalid login details')	
						}
						else {
							window.location.assign("/profile")
						}	
					})
				})
			})

