html
	head
		title Match locations
		script(src="https://code.jquery.com/jquery-3.2.1.js"
			integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
			crossorigin="anonymous"
			)
		link(rel='stylesheet', type='text/css', href='css/style.css')
		link(rel='stylesheet', type='text/css', href='css/match.css')
		link(href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

	body
		div(class="site-container1")
			div(class="site-pusher1")
				include nav.pug
				div(class="container")
					div(class="filling")
					h2(class="h2") Find your dog match
					div(class="containerMatchGallery")
					div(class="containerMap")
						div(class="map" id="map_canvas")
		script.
			$(document).ready(function(){
				jQuery(function($) {
					// Asynchronously Load the map API 
					var script = document.createElement('script');
					script.src = "//maps.googleapis.com/maps/api/js?key=AIzaSyCW8wq7VM5e8qslCr9U_aKyoVLEkf8r4LU&callback=initialize";
					document.body.appendChild(script);
					});
					
					window.initialize = function() {
					var map;
					var bounds = new google.maps.LatLngBounds();
					var mapOptions = {
						mapTypeId: 'roadmap'
					};
									
					// Display a map on the page
					map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
					map.setTilt(45);

						
					var data = !{JSON.stringify(allMatches).replace(/<\//g, '<\\/')}
					var infoWindowContent = []
					var markers = []
					for (var j = 0; j < data[0].rows.length; j++) {
					markers.push([data[0].rows[j].firstname, data[0].rows[j].latitude, data[0].rows[j].longitude])
					console.log("these are the markers: " + markers)
						infoWindowContent.push([data[0].rows[j].firstname])
					}
						
					// Display multiple markers on a map
					var infoWindow = new google.maps.InfoWindow(), marker, i;
					
					// Loop through our array of markers & place each one on the map  
					for( i = 0; i < markers.length; i++ ) {
						console.log("reached")
						var position = new google.maps.LatLng(markers[i][1], markers[i][2]);
						console.log(position)
						bounds.extend(position);
						marker = new google.maps.Marker({
							position: position,
							map: map,
							title: markers[i][0]
						});
						
						// Allow each marker to have an info window    
						google.maps.event.addListener(marker, 'click', (function(marker, i) {
							return function() {
								infoWindow.setContent(infoWindowContent[i][0]);
								infoWindow.open(map, marker);
							}
						})(marker, i));

						// Automatically center the map fitting all markers on the screen
						map.fitBounds(bounds);
					}

					// Override our map zoom level once our fitBounds function runs (Make sure it only runs once)
					var boundsListener = google.maps.event.addListener((map), 'bounds_changed', function(event) {
						this.setZoom(13);
						google.maps.event.removeListener(boundsListener);
						})
					}
				})