html
	head
		link(rel='stylesheet', type='text/css', href='css/nav.css')

	
		
		header.header1
			a#header__icon1.header__icon1(href='#')
			a.header__logo1(href='#') 
				img(src="images/logotext.png" alt="logo")
			nav.menu1
				if(email)
					a(href="/profile") profile
					a(href="/match") Dog Matches
					a(href="/matchPersons") Dog Friends
					a
						form(method="POST" action="logout" class="logout")
							input(type="submit" id="submit" value="logout")



				else if(!email)

					a(href='/signup') Sign Up
					a(href='/login') Login
	

	script.
		$(document).ready(function(){
			(function($) {
				$('#header__icon1').click(function(e){
					e.preventDefault();
					$('body').toggleClass('with--sidebar');
				});
				
				$('#site-cache1').click(function(e){
					$('body').removeClass('with--sidebar');
				});

			})(jQuery);

		});
