html
	head
		title Sign Up Information
		script(src="https://code.jquery.com/jquery-3.2.1.js"
			integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
			crossorigin="anonymous"
			)
		link(rel='stylesheet', type='text/css', href='css/style.css')
		link(rel='stylesheet', type='text/css', href='css/signupinformation.css')
		link(href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet")
		meta(name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")

	body
		div(class="site-container1")
			div(class="site-pusher1")
				include nav.pug
				div(class="container")
					div(class="filling")

					div(class="containerSignup")
						div(class="frontText")
							h1 Personal Information
						div(class="formDIV")
							FORM(id="informationSignup", class="informationSignupClass", ACTION="/signupInformation", METHOD="post")

								div(class="formElement")
									p(class="title") firstname:
									input(class="textField", id="firstname", type="text", name="firstname", placeholder="firstname" required)
								div(class="formElement")
									p(class="title") lastname:
									input(class="textField", id="lastname", type="text", name="lastname", placeholder="lastname" required)
								div(class="formElement")
									p(class="title") age:
									input(class="textField", id="age", type="text", name="age", placeholder="age" required)
								div(class="formElement")
									p(class="title") dogowner:
									input(class="textField", id="dogowner", type="text", name="dogowner", placeholder="Yes/No" required)
								div(class="formElement")
									p(class="title") street:
									input(class="textField", id="streetAddress", type="text", name="streetAddress", placeholder="Street Address" required)
								div(class="formElement")
									p(class="title") number:
									input(class="textField", id="homeNumber", type="text", name="homeNumber", placeholder="Home number" required)
								div(class="formElement")
									p(class="title") city:
									input(class="textField", id="city", type="text", name="city", placeholder="city" required)
								div(class="formElement")
									p(class="title") Postal Code:
									input(class="textField", id="postCode", type="text", name="postCode", placeholder="Postcode" required)
								div(class="formElement")
									p(class="title") Phone number:
									input(class="textField", id="phoneNumber", type="text", name="phoneNumber", placeholder="phoneNumber" required)
								div(class="formElement")
									input(class="textField", id="email", type="hidden", name="email", value=`#{email}`, placeholder="email")
								div(class="divbutton")
									input(id="button" class="submitButton", type="submit", value="Next step")
			


