html
	head
		include navBar.pug
		title Sign up step 2 #{title}
		script(src="https://code.jquery.com/jquery-3.2.1.min.js"
				integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
				crossorigin="anonymous")

	body
		div(class="containerSignup")
			form(class="signupSheet2", ACTION="/signupForm2", method="POST")
				input(class="username", type="text", name="username", value="username")
				input(class="aboutMe", type="text", name=about, placeholder="About me")


	script.
			$(document).ready(function() {

			})