html
	head
		//- include nav.pug
		title Sign up #{title}
		script(src="https://code.jquery.com/jquery-3.2.1.min.js"
				integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
				crossorigin="anonymous")

	body
		div(class="containerSignup")
			input(type='file' onchange="readUrl(this)")
			img(id="blah" src="#" alt="your image")



		script.
			$(document).ready(function() {
				function readURL(input) {
				if (input.files && input.files[0]) {
				var reader = new FileReader();
					reader.onload = function (e) {
					$('#blah')
					.attr('src', e.target.result)
					.width(150)
					.height(200);
				};
			reader.readAsDataURL(input.files[0]);
					}
				}
			})