html
	head
		title Sign Up
		script(src="https://code.jquery.com/jquery-3.2.1.js"
			integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
			crossorigin="anonymous"
			)
		link(rel='stylesheet', type='text/css', href='css/style.css')
		link(rel='stylesheet', type='text/css', href='css/formpages.css')
		link(href="https://fonts.googleapis.com/css?family=Open+Sans|Oswald" rel="stylesheet")

	body
		div(class="site-container1")
			div(class="site-pusher1")
				include nav.pug
				div(class="container")
					div(class="filling")



					div(class="containerSignup")
						div(class="frontText")
							h1 Sign up for a dog friend!
						div(class="formDIV")
							form(id="firstSignup", class="signupClass" ACTION="/signup")
								div(class="formElement")
									p(class="title") E-mail:
									input(class="textField", id="email", type="email", name="email", value="email", placeholder="email" required)
									p(id="checkEmailText")
								div(class="formElement")
								div(class="formElement")
									p(class="title") Password:
									input(class="textField", id="password", type="password", name="password", password="password", placeholder="password" required)
								div(class="formElement" id="repTitle")
									p(class="title" ) Repeat Password:
									input(class="textField", id="passwordCheck", type="password", name="passwordCheck", password="password", placeholder="password check" required)
								div(class="divbutton")
									input(id="button" class="submitButton", type="submit", name="submit", value="Next step")
									h2(id="text")
									h2(id="success")


		script.
			$(document).ready(function(){
				$("#firstSignup").submit(function(event) {
					event.preventDefault()
					$("#text").text('');
					let email = $('#email').val()
					let password = $('#password').val()
					let passwordCheck = $('#passwordCheck').val()
					if(password.length < 6) {
						event.preventDefault()
						$("#text").text("password is not long enough")
						$("#password").val('');
						$("#passwordCheck").val('')
					}
					else if(password !== passwordCheck){
						event.preventDefault()
						$("#text").text("passwords do not match");
						$("#password").val('');
						$("#passwordCheck").val('')
					}
					else { 
							$.post("/signup", {email: email, password: password, ajax: true}, (result) => {
							if(result.ajax == false) {
							event.preventDefault()
							$("#text").text(`${result.existingUser} is already taken`)
							}
							else {
								window.location.assign("/signupInformation")
								}
							})
						}
					})
				})