
body {
	color: #3F5159;
	font-family: 'Oswald', sans-serif;

}

p {
	font-family: 'Open Sans', sans-serif;
}


input {
	border-radius: 4px;
	background-color: #f4f5f6;
	border: 1px solid #CFD3D9;
}

#wbackground {
	background-color: white;
}

.frontText {
	text-align: center;
	color: #3F5159;
	margin-bottom: 50px;
	background-color: #F0F2F2;

}
	.frontText h1{
	margin: 2px;
	
	}

.container {
	width: 100%;
	margin: 0 auto;

}

.filling {
	height: 10%;
}

@media only screen and (max-width: 912px) {
	.filling {
		height: 0%;
	}
}

.signup {
    
    width: 100%;
    margin: 0 auto;
    text-align: center;
   	background-color: white;
}
.filling1 {
	height: 20px;
	background-color: white;
}



.button {
    background-color: #039694;
    color: white;
    border-radius: 4px;
    border: none;
    padding: 10px 35px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.button:hover {
		background-color: #e4a123;
	}


.head2 {
	text-align: center;
	font-weight: bold;
	font-size: 20px;
	margin-top: 2.5%
}

.gallerycontainer1 {
	width: 100%;
	margin: 0 auto;
	text-align: center;
	background-color: white;
}
		.gallery1Image {
			display: inline-block;
			width: 25%;
			min-width: 280px;
			height: auto;
			box-sizing: border-box;
			margin-top: 40px;
		}


.gallerycontainer2 {
	width: 100%;
	height: auto;
	margin: 0 auto;
	text-align: center;
	background-color: #F0F2F2;
}
	.subText {
	width: 100%;
	display: inline-block;
	padding-top: 30px;
	text-align: center;

	}
	.line1 {
		width: 80%;
		border-bottom: 1px solid #039694;
		margin: 0 auto;
	}
	.gallery2Image {
		display: inline-block;
		width: 30%;
		height: auto;
		min-width: 300px;
		box-sizing: border-box;
		vertical-align: middle;




	/*
.gallery3Image1 {
			display: inline-block;
			width:40%;
			min-width: 300px;
			height: auto;
			box-sizing: border-box;
			margin-left: 100px;
			margin: 20px;
		}





